# Table of Contents
 <p><div class="lev1"><a href="#Task-1.-Compiling-Ebola-Data"><span class="toc-item-num">Task 1.&nbsp;&nbsp;</span>Compiling Ebola Data</a></div>
 <div class="lev1"><a href="#Task-2.-RNA-Sequences"><span class="toc-item-num">Task 2.&nbsp;&nbsp;</span>RNA Sequences</a></div>
 <div class="lev1"><a href="#Task-3.-Class-War-in-Titanic"><span class="toc-item-num">Task 3.&nbsp;&nbsp;</span>Class War in Titanic</a></div></p>

In [2]:
DATA_FOLDER = 'Data' # Use the data folder provided in Tutorial 02 - Intro to Pandas.
%matplotlib inline
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
import glob
from datetime import datetime
sns.set_context('notebook')

## Task 1. Compiling Ebola Data

The `DATA_FOLDER/ebola` folder contains summarized reports of Ebola cases from three countries (Guinea, Liberia and Sierra Leone) during the recent outbreak of the disease in West Africa. For each country, there are daily reports that contain various information about the outbreak in several cities in each country.

Use pandas to import these data files into a single `Dataframe`.
Using this `DataFrame`, calculate for *each country*, the *daily average per month* of *new cases* and *deaths*.
Make sure you handle all the different expressions for *new cases* and *deaths* that are used in the reports.

In [3]:
#TODO: add comments, improve filtering ("new cases",...)

datainfos = [['Data/ebola/guinea_data', [0,1,2]],
             ['Data/ebola/liberia_data', [0,1,2]],
             ['Data/ebola/sl_data', [0,1,16]]]


frames = []

for datainfo in datainfos:
    datapath = datainfo[0]
    cols = datainfo[1]
    allFiles = glob.glob(datapath + "/*.csv")
    frame = pd.DataFrame()
    list_ = []
    for file_ in allFiles:
        df = pd.read_csv(file_, usecols=cols, names=['month','variable','value'],
                         parse_dates=[0], header = None, skiprows = 1)
        df['country'] = datapath
        list_.append(df)
    frame = pd.concat(list_)
    frames.append(frame)

dataframe = pd.concat(frames)
dataframe = dataframe.fillna(0)
dataframe = dataframe.replace(to_replace='.*%$', value='0', regex=True)
dataframe = dataframe.replace(to_replace='.*\..*$', value='0', regex=True)
dataframe = dataframe.replace(to_replace='.*\,.*', value='0', regex=True)
dataframe.value = dataframe.value.astype(int)
dataframe = dataframe[dataframe['variable'].str.contains("New cases") |
                      dataframe['variable'].str.contains("new") |
                      dataframe['variable'].str.contains("death")]
guinea_grouped = dataframe.groupby([dataframe.country, dataframe.month.dt.month, dataframe.variable])

guinea_grouped['value'].mean()

country                 month  variable
Data/ebola/guinea_data  8      New cases of confirmed                                        12.400000
                               New cases of confirmed among health workers                    0.000000
                               New cases of probables                                         1.600000
                               New cases of suspects                                         11.800000
                               New deaths registered                                          3.750000
                               New deaths registered among health workers                     0.000000
                               New deaths registered today                                    2.000000
                               New deaths registered today (confirmed)                        2.000000
                               New deaths registered today (probables)                        0.000000
                               New deaths registered today (suspects)                         0.000000
                               Number of death of confirmed cases among health workers        0.000000
                               Number of deaths of confirmed cases among health workers      12.000000
                               Number of deaths of probables cases among health workers       8.000000
                               Total deaths (confirmed + probables + suspects)              543.200000
                               Total deaths of confirmed                                    295.000000
                               Total deaths of probables                                    141.600000
                               Total deaths of suspects                                       2.000000
                               Total deaths registered among health workers                  26.000000
                               Total new cases registered so far                             25.800000
                               Total of deaths in confirmed cases in CTE                    138.000000
                        9      New cases of confirmed                                        13.000000
                               New cases of confirmed among health workers                    0.437500
                               New cases of probables                                         1.187500
                               New cases of suspects                                          5.437500
                               New deaths registered                                          3.562500
                               New deaths registered among health workers                     0.000000
                               Total deaths (confirmed + probables + suspects)              603.187500
                               Total deaths of confirmed                                    451.062500
                               Total deaths of probables                                    179.250000
                               Total deaths of suspects                                      14.312500
                                                                                              ...
Data/ebola/sl_data      11     death_suspected                                              142.380952
                               etc_cum_deaths                                               172.761905
                               etc_new_admission                                              4.809524
                               etc_new_deaths                                                 0.571429
                               etc_new_discharges                                             1.523810
                               new_completed_contacts                                       122.761905
                               new_confirmed                                                 59.904762
                               new_contacts                                                 237.904762
                               new_negative                                                  68.571429
                               new_noncase                                                   80.904762
                               new_positive                                                  37.476190
                               new_probable                                                   0.000000
                               new_samples                                                  119.000000
                               new_suspected                                                 15.333333
                        12     death_confirmed                                             1314.800000
                               death_probable                                               166.400000
                               death_suspected                                              126.400000
                               etc_cum_deaths                                               347.200000
                               etc_new_admission                                              5.200000
                               etc_new_deaths                                                 2.200000
                               etc_new_discharges                                             1.400000
                               new_completed_contacts                                       332.400000
                               new_confirmed                                                 32.600000
                               new_contacts                                                 353.400000
                               new_negative                                                  66.400000
                               new_noncase                                                   94.800000
                               new_positive                                                  18.200000
                               new_probable                                                   0.000000
                               new_samples                                                   90.200000
                               new_suspected                                                  8.400000
Name: value, Length: 160, dtype: float64

## Task 2. RNA Sequences

In the `DATA_FOLDER/microbiome` subdirectory, there are 9 spreadsheets of microbiome data that was acquired from high-throughput RNA sequencing procedures, along with a 10<sup>th</sup> file that describes the content of each. 

Use pandas to import the first 9 spreadsheets into a single `DataFrame`.
Then, add the metadata information from the 10<sup>th</sup> spreadsheet as columns in the combined `DataFrame`.
Make sure that the final `DataFrame` has a unique index and all the `NaN` values have been replaced by the tag `unknown`.

In [4]:
# Write your answer here

## Task 3. Class War in Titanic

Use pandas to import the data file `Data/titanic.xls`. It contains data on all the passengers that travelled on the Titanic.

In [5]:
from IPython.core.display import HTML
HTML(filename=DATA_FOLDER+'/titanic.html')

For each of the following questions state clearly your assumptions and discuss your findings:
1. Describe the *type* and the *value range* of each attribute. Indicate and transform the attributes that can be `Categorical`. 
2. Plot histograms for the *travel class*, *embarkation port*, *sex* and *age* attributes. For the latter one, use *discrete decade intervals*. 
3. Calculate the proportion of passengers by *cabin floor*. Present your results in a *pie chart*.
4. For each *travel class*, calculate the proportion of the passengers that survived. Present your results in *pie charts*.
5. Calculate the proportion of the passengers that survived by *travel class* and *sex*. Present your results in *a single histogram*.
6. Create 2 equally populated *age categories* and calculate survival proportions by *age category*, *travel class* and *sex*. Present your results in a `DataFrame` with unique index.

In [6]:
# Write your answer here