# 02 - Data from the Web

In [164]:
import pandas as pd
import numpy as np
from requests import get
from bs4 import BeautifulSoup as bs
import json
import re

%matplotlib inline
import matplotlib.pyplot as plt
import seaborn as sns
from IPython.display import display

sns.set_context('notebook')
pd.options.mode.chained_assignment = None  # default='warn', Mutes warnings when copying a slice from a DataFrame.import seaborn as sns

## Useful functions

In [280]:
with open('domains') as file:
    domains_list = sorted(list(line.strip() for line in file),key = lambda s: -len(s))

def clean_number(n):
    return int(''.join(filter(lambda c: c.isdigit(), n)))

def find_domain(url):
    for domain in domains_list:
        if url.endswith(domain):
            return domain

def clean_url(url):
    url = re.sub('https?://(www.)?','', url)
    url = re.sub(r'([^/]+).*',r'\1', url)
    domain = find_domain(url)
    url = re.sub(r'[a-zA-Z]+\.([a-zA-Z]+.' + domain +r')', r'\1', url)
    return url

def select_or_zero(soup, select):
    selection = soup.select(select)
    if len(selection) == 0:
        return np.nan
    return clean_number(selection[0].text)

def select_url(soup, select):
    selection = soup.select(select)
    if len(selection) == 0:
        return np.nan
    return clean_url(selection[0]['href'])

def normalize_name(name):
    name = str(name)
    name = re.sub('\(.*\)','', name)
    name = re.sub('^The','', name)
    name = re.sub('^É','E', name)
    name = name.replace('–', '-')
#     name = name.title().replace('Eth Zurich - Swiss Federal Institute Of Technology Zurich', 'Eth Zurich - Swiss Federal Institute Of Technology')
#     name = name.replace('Freie Universitaet', 'Free University Of')
    return name.title().strip()

## Top Universities

In [313]:
def get_stats(directory):
    res = get('https://www.topuniversities.com'+directory)
    soup = bs(res.text, "lxml")
    faculty_total = select_or_zero(soup, '.total .text .number')
    faculty_inter = select_or_zero(soup, '.inter .text .number')
    student_total = select_or_zero(soup, '.student .number')
    student_inter = select_or_zero(soup, '.inter .progress-bar-info .number')
    uni_url = select_url(soup, '.school-site')
    return faculty_total, faculty_inter, student_total, student_inter, uni_url

def prepare_uni_data_tu(uni):
    uni_infos = dict()
    uni_infos['Name'] = normalize_name(uni['title'])
    uni_infos['Rank Top Universities'] = clean_number(uni['rank_display'])
    uni_infos['Country'] = uni['country'].strip()
    uni_infos['Region'] = uni['region'].strip()
    uni_infos['Total faculty members'], \
    uni_infos['International faculty members'], \
    uni_infos['Total students'], \
    uni_infos['International students'], \
    uni_infos['url_tu'] = get_stats(uni['url'])
    return uni_infos

res = get('https://www.topuniversities.com/sites/default/files/qs-rankings-data/357051.txt?_=1508338164061', 'html')
json_ranking_tu = json.loads(res.text)['data']
json_ranking_tu_top = sorted(json_ranking_tu, key=lambda k: clean_number(k['rank_display']))[:200]
df_tu = pd.DataFrame(list(map(prepare_uni_data_tu,json_ranking_tu_top)))

In [314]:
df_tu.to_pickle('df_tu.xz')
# df_tu = pd.read_pickle('df_tu.xz')

In [315]:
df_tu['Name'] = df_tu['Name'].apply(normalize_name)
df_tu['Name'].apply(normalize_name)
df_tu

,Country,International faculty members,International students,Name,Rank Top Universities,Region,Total faculty members,Total students,url_tu
0,United States,1679.0,3717.0,Massachusetts Institute Of Technology,1,North America,2982.0,11067.0,NaN
1,United States,2042.0,3611.0,Stanford University,2,North America,4285.0,15878.0,NaN
2,United States,1311.0,5266.0,Harvard University,3,North America,4350.0,22429.0,NaN
3,United States,350.0,647.0,California Institute Of Technology,4,North America,953.0,2255.0,NaN
4,United Kingdom,2278.0,6699.0,University Of Cambridge,5,Europe,5490.0,18770.0,NaN
5,United Kingdom,2964.0,7353.0,University Of Oxford,6,Europe,6750.0,19720.0,NaN
6,United Kingdom,2554.0,14854.0,Ucl,7,Europe,6345.0,31080.0,ucl.ac.uk
7,United Kingdom,2071.0,8746.0,Imperial College London,8,Europe,3930.0,16090.0,imperial.ac.uk
8,United States,635.0,3379.0,University Of Chicago,9,North America,2449.0,13557.0,NaN
9,Switzerland,1886.0,7563.0,Eth Zurich - Swiss Federal Institute Of Techno...,10,Europe,2477.0,19815.0,NaN
10,Singapore,2993.0,7251.0,"Nanyang Technological University, Singapore",11,Asia,4338.0,25738.0,NaN
11,Switzerland,1300.0,5896.0,Ecole Polytechnique Fédérale De Lausanne,12,Europe,1695.0,10343.0,NaN
12,United States,246.0,1793.0,Princeton University,13,North America,1007.0,8069.0,NaN
13,United States,970.0,5411.0,Cornell University,14,North America,2718.0,21904.0,NaN
14,Singapore,3086.0,8917.0,National University Of Singapore,15,Asia,5106.0,32728.0,nus.edu.sg
15,United States,1708.0,2469.0,Yale University,16,North America,4940.0,12402.0,NaN
16,United States,1061.0,4105.0,Johns Hopkins University,17,North America,4462.0,16146.0,NaN
17,United States,913.0,8105.0,Columbia University,18,North America,6189.0,25045.0,NaN
18,United States,1383.0,4250.0,University Of Pennsylvania,19,North America,5499.0,20639.0,NaN
19,Australia,927.0,5551.0,Australian National University,20,Oceania,1600.0,14442.0,anu.edu.au
20,United States,226.0,2864.0,Duke University,21,North America,2938.0,15320.0,NaN
21,United States,1920.0,7527.0,University Of Michigan,21,North America,6809.0,43147.0,NaN
22,United Kingdom,1513.0,9451.0,King'S College London,23,Europe,3650.0,23780.0,kcl.ac.uk
23,United Kingdom,1553.0,10551.0,University Of Edinburgh,23,Europe,4075.0,28040.0,ed.ac.uk
24,China,932.0,4072.0,Tsinghua University,25,Asia,5506.0,36300.0,NaN
25,Hong Kong,2085.0,8230.0,University Of Hong Kong,26,Asia,3012.0,20214.0,hku.hk
26,United States,1395.0,6086.0,"University Of California, Berkeley",27,North America,3321.0,36703.0,NaN
27,United States,1141.0,3422.0,Northwestern University,28,North America,4231.0,18675.0,NaN
28,Japan,254.0,2639.0,University Of Tokyo,28,Asia,4514.0,27279.0,NaN
29,Hong Kong,835.0,2921.0,Hong Kong University Of Science And Technology,30,Asia,1150.0,10375.0,ust.hk
...,...,...,...,...,...,...,...,...,...
170,Germany,413.0,3897.0,Albert-Ludwigs-Universitaet Freiburg,171,Europe,1966.0,23214.0,NaN
171,India,4.0,80.0,Indian Institute Of Technology Delhi,172,Asia,466.0,7477.0,NaN
172,United States,487.0,1899.0,University Of Virginia,173,North America,2509.0,21560.0,NaN
173,Saudi Arabia,665.0,989.0,King Fahd University Of Petroleum & Minerals,173,Asia,1062.0,6040.0,NaN
174,United Kingdom,717.0,7502.0,University Of Liverpool,173,Europe,2390.0,22065.0,NaN
175,Australia,546.0,7769.0,University Of Technology Sydney,176,Oceania,1328.0,24207.0,uts.edu.au
176,France,137.0,1132.0,Centralesupélec,177,Europe,529.0,3877.0,NaN
177,United States,504.0,4597.0,University Of Florida,178,North America,5419.0,45485.0,NaN
178,Netherlands,299.0,2235.0,University Of Twente,179,Europe,910.0,9332.0,utwente.nl
179,India,19.0,93.0,Indian Institute Of Technology Bombay,179,Asia,876.0,9402.0,NaN
180,Germany,641.0,3736.0,University Of Göttingen,181,Europe,3678.0,30402.0,NaN
181,Belgium,515.0,1853.0,Vrije Universiteit Brussel,182,Europe,1792.0,9284.0,NaN
182,Brazil,109.0,966.0,Universidade Estadual De Campinas,182,Latin America,1968.0,26572.0,NaN
183,United States,566.0,2679.0,University Of Colorado Boulder,182,North America,3685.0,30219.0,NaN
184,Austria,172.0,5199.0,Vienna University Of Technology,182,Europe,706.0,17479.0,NaN
185,United States,488.0,2805.0,University Of Rochester,186,North America,2569.0,9636.0,NaN
186,Spain,181.0,2976.0,Universidad Autónoma De Madrid,187,Europe,2738.0,26511.0,NaN
187,Italy,153.0,4195.0,Alma Mater Studiorum - University Of Bologna,188,Europe,2990.0,63399.0,unibo.it
188,United Kingdom,422.0,4077.0,University Of Reading,188,Europe,1280.0,13330.0,NaN
189,India,NaN,47.0,Indian Institute Of Science Bangalore,190,Asia,423.0,4071.0,NaN
190,South Africa,379.0,3325.0,University Of Cape Town,191,Africa,1733.0,19593.0,NaN
191,Italy,1.0,48.0,Scuola Normale Superiore Di Pisa,192,Europe,86.0,532.0,NaN
192,Italy,1.0,135.0,Scuola Superiore Sant'Anna Pisa Di Studi Unive...,192,Europe,119.0,789.0,NaN
193,Japan,261.0,2178.0,Keio University,192,Asia,3905.0,33500.0,NaN
194,Sweden,646.0,2636.0,Stockholm University,195,Europe,2154.0,28281.0,NaN
195,Spain,230.0,3848.0,Universitat Autònoma De Barcelona,195,Europe,2187.0,31986.0,uab.cat
196,United States,206.0,4900.0,Texas A&M University,195,North America,3446.0,60294.0,NaN
197,Mexico,821.0,1412.0,Instituto Tecnológico Y De Estudios Superiores...,199,Latin America,1822.0,13376.0,tec.mx
198,Netherlands,502.0,8234.0,Maastricht University,200,Europe,1277.0,16385.0,NaN
199,Chile,127.0,2134.0,Universidad De Chile,201,Latin America,2256.0,38848.0,NaN

## Times Higher Education

In [316]:
def complete_with_tu(name):
    for uni in json_ranking_tu:
        if normalize_name(uni['title']) == name:
            return prepare_uni_data_tu(uni)
def get_missing_uni(df):
    completion = []
    for missing in df[df['Country'].isnull()]['Name']:
        tu_data = complete_with_tu(missing)
        if tu_data:
            tu_data['Rank Time Higher Education'] = int(df[df['Name'] == missing]['Rank Time Higher Education'].values[0])
            completion.append(tu_data)
    return pd.DataFrame(completion)

In [317]:
def get_website_the(url):
    res = get('https://www.timeshighereducation.com'+url)
    soup = bs(res.text, "lxml")
    selection = soup.select('.profile-card__website a')
    if len(selection) == 0:
        return np.nan
    return clean_url(selection[0]['href'])

def prepare_uni_data_the(uni):
    uni_infos = dict()
    uni_infos['Name'] = normalize_name(uni['name'])
    uni_infos['Rank Time Higher Education'] = clean_number(uni['rank'])
    uni_infos['url_the'] = get_website_the(uni['url'])
    return uni_infos
res = get('https://www.timeshighereducation.com/sites/default/files/the_data_rankings/world_university_rankings_2018_limit0_369a9045a203e176392b9fb8f8c1cb2a.json', 'html')
json_ranking_the = json.loads(res.text)['data']
json_ranking_the = sorted(json_ranking_the, key=lambda k: clean_number(k['rank']))[:200]
df_the = pd.DataFrame(list(map(prepare_uni_data_the,json_ranking_the)))
# # get_missing_uni(df)

In [318]:
# df_the.to_pickle('df_the.xz')
df_the = pd.read_pickle('df_the.xz')
# df = df_tu.merge(df_the, 'outer', on='Name')
# df = get_missing_uni(df).set_index('Name').combine_first(df.set_index('Name'))

In [320]:
df = df_tu.merge(df_the, 'outer', on=['Name'])
df = get_missing_uni(df).set_index('Name').combine_first(df.set_index('Name'))
# df[df['Country'].isnull()]
# df[df['Name'].str.contains('Gothenburg')]

In [322]:
df_the

,Name,Rank Time Higher Education,url_the
0,University Of Oxford,1,ox.ac.uk
1,University Of Cambridge,2,cam.ac.uk
2,California Institute Of Technology,3,caltech.edu
3,Stanford University,3,stanford.edu
4,Massachusetts Institute Of Technology,5,mit.edu
5,Harvard University,6,harvard.edu
6,Princeton University,7,princeton.edu
7,Imperial College London,8,.imperial.ac.uk
8,University Of Chicago,9,uchicago.edu
9,Eth Zurich - Swiss Federal Institute Of Techno...,10,ethz.ch
10,University Of Pennsylvania,10,upenn.edu
11,Yale University,12,yale.edu
12,Johns Hopkins University,13,jhu.edu
13,Columbia University,14,columbia.edu
14,"University Of California, Los Angeles",15,ucla.edu
15,University College London,16,ucl.ac.uk
16,Duke University,17,duke.edu
17,"University Of California, Berkeley",18,berkeley.edu
18,Cornell University,19,cornell.edu
19,Northwestern University,20,northwestern.edu
20,University Of Michigan,21,umich.edu
21,National University Of Singapore,22,nus.edu.sg
22,University Of Toronto,22,utoronto.ca
23,Carnegie Mellon University,24,cmu.edu
24,London School Of Economics And Political Science,25,.lse.ac.uk
25,University Of Washington,25,washington.edu
26,University Of Edinburgh,27,ed.ac.uk
27,New York University,27,nyu.edu
28,Peking University,27,pku.edu.cn
29,Tsinghua University,30,tsinghua.edu.cn
...,...,...,...
170,University Of Cape Town,171,uct.ac.za
171,"Rutgers, The State University Of New Jersey",172,rutgers.edu
172,Kth Royal Institute Of Technology,173,kth.se
173,University Of Münster,173,uni-muenster.de
174,Université Libre De Bruxelles,175,ulb.ac.be
175,Newcastle University,175,ncl.ac.uk
176,University Of Liverpool,177,liverpool.ac.uk
177,Zhejiang University,177,zju.edu.cn
178,University Of Luxembourg,179,uni.lu
179,University Of Twente,179,utwente.nl
180,Paris-Sud University,181,u-psud.fr
181,Ecole Normale Supérieure De Lyon,182,ens-lyon.fr
182,Hong Kong Polytechnic University,182,polyu.edu.hk
183,Scuola Normale Superiore Di Pisa,184,sns.it
184,University Of Aberdeen,185,abdn.ac.uk
185,University Of Miami,186,miami.edu
186,University Of Dundee,187,dundee.ac.uk
187,University Of East Anglia,188,uea.ac.uk
188,Shanghai Jiao Tong University,188,sjtu.edu.cn
189,Aalto University,190,aalto.fi
190,University Of Massachusetts,191,massachusetts.edu
191,University Of Auckland,192,auckland.ac.nz
192,Northeastern University,193,northeastern.edu
193,Lomonosov Moscow State University,194,msu.ru
194,Tilburg University,195,tilburguniversity.nl
195,Paris-Sorbonne University - Paris 4,196,paris-sorbonne.fr
196,"Royal Holloway, University Of London",197,rhul.ac.uk
197,"University Of California, Riverside",198,ucr.edu
198,University Of Gothenburg,198,gu.se
199,National Taiwan University,198,ntu.edu.tw